.events__title, .events__list-definition {
    font-weight: 600;
}
.list-title {
    font-weight: 450;
    text-shadow: 1px 1px 8px white;
}
.indent {
    padding-left: 2rem;
}
.indent2 {
    padding-left: 4rem;
}

// -----Блок fluid-----
#events_fluid {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

#events_fluid_c {
    width:800px;
    height:376px;
    margin:0 auto;
    display:block;
}
// -----Конец блока fluid-----

// -----Блок confetti-----
$back: #143741;
$white: #f3f3f8;
$red: #FF4B47;
$green: #40E64F;
$yellow: #E0C93B;
$orange: #F58F39;
$blue: #39BAC5;
$size: 1.2rem;

div.events_confetti_an {
    width: $size;
    height: $size;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 240%;
    transform: translate(-50%,-50%);
    p.events_confetti_an {
        width: $size;
        height: $size;
        background: $white;
        border-radius: 50%;
        display: inline-block;
        opacity: 0;
    }
    
    &:nth-of-type(5n + 1) {
        p.events_confetti_an {
            background-color: $red;
        }
    }
    &:nth-of-type(5n + 2) {
        p.events_confetti_an {
            background-color: $orange;
        }
    }
    &:nth-of-type(5n + 3) {
        p.events_confetti_an {
            background-color: $green;
        }
    }
    &:nth-of-type(5n + 4) {
        p.events_confetti_an {
            background-color: $blue;
        }
    }
    &:nth-of-type(5n) {
        p.events_confetti_an {
            background-color: $yellow;
        }
    }
}
// -----Конец блока confetti-----

// -----Блока keys-----
#keyInput {
    width: 5rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 5%;
    background-color: #33c8af2f;
}
.key-color {
    color: #cc3366;
    font-weight: 700;
}
th {
    width: 20%;
}